:root {
	--main-bg-color: rgb(32, 35, 42);
	--accent-color: rgb(231, 115, 61);
	--accent-color-gradient: rgb(184, 70, 148);
	--accent-color-20: rgb(231, 115, 61, 0.2);
	--secondary-color: rgb(179, 89, 48);
	--default-white: rgb(230, 230, 230);
	--default-gray: rgb(200, 200, 200);
	--shadow-color: rgb(0, 0, 0, 0.5);
	--muted-color: rgb(150, 150, 150);

	--content-max-width: 1200px;
	--header-height: 60px;
	--footer-height: 118px;
}

.accent-gradient-text {
	background: linear-gradient(to right, rgba(184, 70, 148, 1) 0%, rgba(252, 128, 70, 1) 100%);

	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;

	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.accent-gradient-text-hover:hover {
	background: linear-gradient(to right, rgba(184, 70, 148, 1) 0%, rgba(252, 128, 70, 1) 100%);

	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;

	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.accent-gradient-background {
	background: linear-gradient(135deg, rgba(184, 70, 148, 1) 0%, rgba(252, 128, 70, 1) 100%);
}

.unstyled-link {
	color: inherit;
	text-decoration: inherit;
}

.unstyled-link:hover {
	color: inherit;
	text-decoration: inherit;
}

.unstyled-link:focus {
	color: inherit;
	text-decoration: inherit;
}

.unstyled-textinput {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	border-style: none;
}

.page-main-header {
	font-size: 40px;
}

.no-user-select {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.clickable {
	cursor: pointer;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.accent-color-text {
	color: var(--accent-color);
}

.text-muted {
	color: var(--muted-color);
}

.content-placeholder {
	animation: placeholder-gradient 1.5s ease infinite;
	border-radius: 3px;
	background: linear-gradient(
		to right,
		var(--default-white) 0%,
		var(--default-gray),
		var(--default-white) 100%
	);
	background-size: 400% 400%;
}

@keyframes placeholder-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
