:root {
	--main-bg-color: rgb(32, 35, 42);
	--accent-color: rgb(231, 115, 61);
	--accent-color-50: rgb(231, 115, 61, 0.5);
	--accent-color-20: rgb(231, 115, 61, 0.2);
	--secondary-color-50: rgb(184, 70, 148, 0.5);
	--content-max-width: 1200px;
}

.accent-color-text {
	background: linear-gradient(to right, rgba(184, 70, 148, 1) 0%, rgba(252, 128, 70, 1) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.accent-color-text-hover:hover {
	background: linear-gradient(to right, rgba(184, 70, 148, 1) 0%, rgba(252, 128, 70, 1) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.accent-color-background {
	background: linear-gradient(135deg, rgba(184, 70, 148, 1) 0%, rgba(252, 128, 70, 1) 100%);
}

.unstyled-link {
	color: inherit;
	text-decoration: inherit;
}

.unstyled-link:hover {
	color: inherit;
	text-decoration: inherit;
}

.unstyled-link:focus {
	color: inherit;
	text-decoration: inherit;
}

.unstyled-textinput {
	-moz-appearance: none;
	-webkit-appearance: none;
	border-style: none;
}

.page-main-header {
	font-size: 40px;
}
