.home-continue-reading-title {
	margin-top: 20px;
	font-size: 24px;
}

.home-continue-reading-entries {
	display: flex;
	flex-wrap: wrap;
}

.home-continue-reading-entries > div {
	margin-right: 40px;
	margin-bottom: 20px;
}
