.reader-base-main {
	position: fixed;
	z-index: 98;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background: var(--main-bg-color);
	color: var(--default-white);
}

.reader-base-body {
	display: flex;
}

.reader-base-content {
	width: 100%;
	position: static;
	overflow-y: auto;
	outline: none;
}

.reader-base-content-top-collapsed {
	height: 100vh;
}

.reader-base-content-top-visible {
	height: calc(100vh - 56px);
}

.reader-base-loading {
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: flex-start;
	margin-top: 100px;
	width: 100px;
}

.reader-base-image-scroll {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
}

.reader-base-image-fit-vertical {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.reader-base-image-fit-horizontal {
	display: block;
	width: 100%;
}

.reader-share-main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reader-share-content {
	padding: 20px;
	border-style: solid;
	border-radius: 3px;
	border-color: var(--reader-border-color);
	box-shadow: 0px 0px 20px var(--shadow-color);
	color: var(--default-gray);
	min-width: 350px;
	min-height: 170px;
}

.reader-share-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 12px;
}

.reader-share-fail-controls {
	margin-top: 20px;
}

.reader-share-fail-controls > * {
	margin-right: 16px;
}
