.cool-searchbar-main {
	max-width: 950px;
	padding-bottom: 20px;
}

.cool-searchbar-placeholder {
	font-size: 40px;
	margin-bottom: 4px;
}

.cool-searchbar-container {
	max-width: 520px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: var(--default-gray);
}

.cool-searchbar-input {
	background-color: transparent;
	font-size: 40px;
	width: 100%;
}

.provider-selector-main {
	display: flex;
	align-items: center;
	height: 50px;
}

.provider-selector-card {
	transition: all 0.1s ease-in-out;
	font-size: 14px;
	width: 100px;
	height: 30px;
	border-style: solid;
	border-color: var(--default-gray);
	border-width: 2px;
	margin-right: 8px;
	overflow: hidden;
	text-align: center;
	line-height: 26px;
	border-radius: 3px;
}

.provider-selector-card-active {
	color: var(--default-white);
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.provider-selector-card-inactive:hover {
	border-color: var(--accent-color);
}

.recent-searches-entry {
	display: flex;
	margin-top: 8px;
}

.search-result-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 700px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 12px;
	padding-right: 12px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--default-white);
	border-radius: 3px;
}

.search-result-main:hover {
	border-color: var(--default-gray);
}

.search-result-main:active {
	background-color: var(--default-gray);
}

.search-result-title {
	font-size: 16px;
}

.search-result-provider {
	margin-left: 16px;
}
