.shell-footer-upper {
	font-size: 24px;
	color: rgb(220, 220, 220);
	background-color: rgb(40, 44, 52);
	display: flex;
	justify-content: center;
}

.shell-footer-lower {
	font-size: 16px;
	color: rgb(155, 155, 155);
	background-color: var(--main-bg-color);
	display: flex;
	justify-content: center;
}

.shell-footer-subbody {
	width: var(--content-max-width);
	padding-top: 20px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
}

.shell-footer-heart {
	background: linear-gradient(to right, rgba(184, 70, 148, 1) 0%, rgba(252, 128, 70, 1) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-left: 8px;
	margin-top: 5px;
}
